{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="container">
    <div class="page-header">
        {% if is_doctor %}
        <h1>Selamat Datang Dr. {{ user.get_full_name }}</h1>
        {% else %}
        <h1>Selamat Datang {{ user.get_full_name }}</h1>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-4">
            <div id="user-list" class="list-group">
                <a class="list-group-item disabled">
                    {% if is_doctor %}
                    <h4 class="list-group-item-heading">Pasien</h4>
                    {% for patient in patients %}
                    <a class="list-group-item user">{{patient}}</a>
                    {% endfor %}
                    {% else %}
                    <h4 class="list-group-item-heading">Dokter</h4>
                    {% for doctor in doctors %}
                    <a class="list-group-item user">{{doctor}}</a>
                    {% endfor %}
                    {% endif %}
                </a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card p-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">Chat</h4>
                    </div>
                    <div>
                        <ul id="messages" class="messages">
                            {# Messages go here #}
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="chat-input" type="text" class="form-control input"
                                placeholder="Type your message here ..." maxlength="500">
                            <span class="input-group-btn">
                                <button class="btn btn-success" id="btn-send">
                                    Send <i class="fas fa-paper-plane"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let sessionKey = '{{ request.session.session_key }}';
    let currentUser = '{{ request.user.username }}';
</script>
<script src="{% static 'js/app.js' %}"></script>

{% endblock %}